.page.theme_dark {
  --bg-color: var(--color-black-1, #000028);
  --bg-image: url("../images/cover-image-dark.png");
  --rec-vis: visible;
  --text-color: var(--color-pink-2, #f1b2ce);
  --page-title-color: var(--color-purple-1, #db00ff);
  --second-color: var(--color-purple-2, #ff0070);
  --second-color-tr: var(--color-purple-2-tr, #ff007040);
  --accent-color: var(--color-purple-2, #ff0070);
  --title-color: var(--color-black-1, #000028);
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-color: var(--color-black-1, #000028);
  --bg-image: url("../images/cover-image-dark.png");
  --rec-vis: visible;
  --text-color: var(--color-pink-2, #f1b2ce);
  --page-title-color: var(--color-purple-1, #db00ff);
  --second-color: var(--color-purple-2, #ff0070);
  --second-color-tr: var(--color-purple-2-tr, #ff007040);
  --accent-color: var(--color-purple-2, #ff0070);
  --title-color: var(--color-black-1, #000028);
  }
}
