.page.theme_light {
  --bg-color: var(--color-pink-1, #fff1f7);
  --bg-image: url("../images/cover-image-light.png");
  --rec-vis: hidden;
  --text-color: var(--color-black-2, #353430);
  --page-title-color: var(--color-pink-3, #ffc2e6);
  --second-color: var(--color-black-2, #353430);
  --second-color-tr: var(--color-black-2-tr, #35343040);
  --accent-color: var(--color-pink-4, #ff8dcb);
  --title-color: var(--color-black-2, #353430);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: var(--color-pink-1, #fff1f7);
  --bg-image: url("../images/cover-image-light.png");
  --rec-vis: hidden;
  --text-color: var(--color-black-2, #353430);
  --page-title-color: var(--color-pink-3, #ffc2e6);
  --second-color: var(--color-black-2, #353430);
  --second-color-tr: var(--color-black-2-tr, #35343040);
  --accent-color: var(--color-pink-4, #ff8dcb);
  --title-color: var(--color-black-2, #353430);
  }
}
